@font-face{
  font-family: 'SF-Pro-Display-Thin';
  src: url(./SF-Pro-Display-Thin.otf);
}
@font-face{
  font-family: 'Raleway';
  src: url(./Raleway-Thin.ttf);
}
@font-face{
  font-family: 'Liar Script';
  src: url(./Liar Script - TTF.ttf);
}





body {color: #333; 
    font-family: 'SF-Pro-Display-Thin', sans-serif;
    padding-top: 66px;
}
h1, h2, h3, h4, h6 {
  font-family: 'Liar Script', serif;
}
h5{
    font-family: 'Raleway',sans-serif
}
p {
    line-height: 20px;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(250, 250, 250, 0.8);
    border-bottom: 2px solid #ccc;
    height: 66px;
    width: 100%;
    z-index: 1;
}
nav ul {
    float: right;
}
nav li {
    float: left;
    width: auto;
}
nav li a {
    padding: 19px 10px 25px 10px;
    display: block;
    text-decoration: none;
    color: #333;
}
nav li a:hover {
    background: #e5e5e5;
}
#brand {
    text-indent: inherit;
    font-weight: 100;
    padding-top: 10px;
    font-size: 17px;
    float: left;
    margin: 10px;
    color: black;
    font-family: Liar Script, sans-serif;
} 

.container {
    width: 100%; 
    margin: 0 auto;
}
#top{
    background-color: #fff; 
    background-size: cover;
    vertical-align: middle;
    height: 300px;
    align-content: center;
    margin-top: 0;
}
#top h2 {
    opacity: 1.0;
    font-family: 'Raleway',sans-serif;
    font-size: 1000%;
    vertical-align: middle;
    color:#333 ;
    margin-top: 90px;
    text-align:center;
}
#top span {
    border: 2px solid aquamarine;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    font-size: 150%;
}
#slogan{
    background-color: #333;
    height: 55px;
    align-content: center;
}
#slogan p{
    padding-top: 15px;
    text-align: center;
    font-family: Raleway, sans-serif;
    color: #fff;
    line-height: 20px;
    vertical-align: middle;
}
#main-content{
    text-align: center;
    overflow: hidden;
    height: 100% ;
}

#intro{
    padding-top: 55px;
    float: right;
    width: 17%;
    padding: 15px;
    background-color: white;
    align-content: center;
}
.column img {
    width: 100%;
    max-width:100%;
    border-radius: 50%;
    margin-bottom: 20px;
    align-content: center;
    padding-top: 35px;
    padding-bottom: 35px;
    
}
.column h2{
    text-align: center;
    font-weight: bold;
    font-family: SF-Pro-Display-Thin, sans-serif;
}

#intro p{
text-align: center;
font-family: SF-Pro-Display-Thin,sans-serif ;
width: 100%;
}
#techtiica{
    font-family: Liar Script,sans-serif;
}
#story{
    margin: 5% 0 0 5%;
    float: left;
    width: 75%;
    max-width: 100%;
    align-content: left;
}

#story a {
    color: #333;
}
#story img{
    vertical-align: middle;
    margin-left: 0%;

  }
#ligne{
    align-content: center;
    width:10%;
    color: pink;
}
hr{
    border-color: transparent;
}
#team{
    text-align: center;
    width: 100%;
    background-image: url(./images/workteam.png);
    background-size: cover;
    height: 800px;
}
#team h1{
    align-content: center;
    font-size: 650%;
    color: white;
    font-family: SF-Pro-Display-Thin, sans-serif;
    margin-top: 15%;

}

#team div{
    margin-top: 7%;
}
.column {

    background-color: transparent;
    float: right;
    width: 15%;
    border-radius:10%;
    align-content: center;
    margin: 5%;
}

.column img {

    width: 100%;
    max-width:100%;
    border-radius: 50%;
    margin: 0%;
    
}
.column h2{
    text-align: center;
    font-weight: bold;
    font-family: Raleway, sans-serif;
    width: 100%;
}
.column .btn {
    border: 2px solid #8a80c3;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    font-size: 150%;
    text-decoration: none;
    color: #8a80c3;
}
.column p{
text-align: center;
font-family: SF-Pro-Display-Thin,sans-serif ;
}

#sm{
        width: 100%;
        height: 100%;

}
#ihsen{
    width: 25%;
    margin-top : 0%; 
    margin-right: 15%}
#descri h1{
    width: 100%;
    font-family: Raleway, sans-serif;
    font-size: 350%;
    color: #333;
    text-align: center;
    margin-left: 15%;
    margin-top: 25%;

}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
}

/* Hide the images by default */
.mySlides1 {
    display: none;
    align-content: center;
    vertical-align: middle;
}
.img{
    margin-left: 40%;}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: grey;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
#app{
    height: 100%;
    margin-bottom: 5%;
}
#app h1{
    margin-top: 11%;
    font-family: Raleway, sans-serif;
    font-size: 350%;
    color: #333;
    text-align: center;
}
#text p{
    text-align: center;
    height: 100%;
    vertical-align: middle;
    font-size: 100%;
    font-family: SF-Pro-Display-Thin;
}
#text{
    background-image: url(./images/Capture1.PNG);
    background-size: cover;
    align-content: center;
    

}
.column p{
    height: 100%;

}

.button {
    cursor: pointer;
    height: 79px;
    width: 100%;
    position: relative;
    background-color: transparent;
    border-color: transparent;
    align-content: center;
    margin-top:15%;
    margin-left: 5%;
}
.button img{
    cursor: pointer;
    height: 79px;
    margin: 0;
    width: 100%;
    position: relative;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    border-radius: 0;
}

    #descri{
        height: 100%;
        width: 45%; 
        float: right;
        align-content: center;
    }



footer {
    background: #333;
    color: #fafafa;
    padding-top:19px;
    overflow: hidden;
    text-align: center;
    float: left;
    width: 100%;
    position: relative;
    height: 140px;
    vertical-align: bottom;
}

footer ul {
    clear:left;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    padding-top: 0px;
    position:relative;
    left:50%;
    text-align:center;
}
footer li {
    display:block;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    right:50%;
}
footer ul li img
{
    margin: 20px;
}
#copyrights{
    text-align: center;
    padding-top: 90px;
}
footer p{
    text-align: center;
    color: white;
    font-family: SF-Pro-Display-Thin, sans-serif;
    letter-spacing: 1px;
}
@media only screen and (max-width: 1249px)
{#story{
    width: 65%;
    margin-top: 15%;
    
}
}
@media only screen and (max-width: 901px)
{
    .column {
        padding: 10px;
        margin: 0 0 40px 0;
        width: 25%;
    }
    #top h2 {
        font-size: 200%;
    }
    #main-content h3{
        font-size: 150%;
    } 
    #intro 
    {
        width: 100%;
    }
    #top{
        width: 100%;
        height:150px;
    }
    #slogan{
        background-color: #dd9d51;
    }
    #slogan p{
        padding-top: 9px;
    }
    footer {
        margin-bottom: 0;
    }
    #team{
        background-color: #fff;
        background-image: none;
        width: 100%;
        height: 700px;
    }
    #team h1{
        font-size: 300%;
        color: #333;
    }
    .column img {

    width: 70%;
    max-width:100%;
    border-radius: 50%;
    margin: 0%;
    
}
    #ihsen img {

    width: 70%;
    max-width:100%;
    border-radius: 50%;
    margin: 0 25% 0 15% ;
    align-self: center;
    
}
    #story{
        max-width: 100%;
        margin: 15% ;
        width: 70%;
    }
    hr{
        border-color:#fff5f53d;
    }
     #descri{
        float: none;
        width: 100%;
        align-content: center;
    }
    #ihsen{
        width: 100%;
        padding: 10px;
        margin: 0 0 40px 0;
    }
    .button{
        margin-left: 5%;
    }
    #descri h1{
    width: 100%;
    font-family: Raleway, sans-serif;
    font-size: 350%;
    color: #333;
    text-align: center;
    margin: 0;

}
#top h2{
    font-size: 350%;
}

}

@media only screen and (max-width: 640px)
{
    .column {
        float: none;
        width: 100%;
        padding: 0px;
        margin: 0 0 40px 0;
    } 
    #story{
        max-width: 100%;
        width: 70%;
        margin: 15%;
    }
    footer {
        margin-bottom: 0;
    }
    #team{
        background-color: #fff;
        background-image: none;
        width: 100%;
        height: 100%;
    }
    #team h1{
        color: #333;
    }
    .column img {

    width: 70%;
    max-width:100%;
    border-radius: 50%;
    margin: 0%;
    
}
    hr{
        border-color: #fff5f53d;
    }
    #app{
        padding-bottom: 15%;
    }
    footer ul li img
{
    margin: 15px;
}
.button{
        margin-left: 5%;
    }
}
